* {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
	display: block;
}
body {
	line-height: 1;
}
ol,
ul {
	list-style: none;
}
blockquote,
q {
	quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
	content: "";
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* header */
header {
	width: 100%;
	background-color: #303030;
	display: flex;
	align-items: center;
	justify-content: center;
}
header img {
	height: 8vw;
}

nav {
	font-size: 1vw;
	display: flex;
	justify-content: space-between;
	position: absolute;
	width: 90vw;
	top: 6.5vw;
	left: 5vw;
	font-family: "Raleway", sans-serif;
}
nav a {
	color: white;
	text-decoration: none;
}
nav a:hover {
	text-decoration: underline;
}

/* main contact page */
#container_contact{
    font-family: "Raleway", sans-serif;
}

#container_contact h1{
    text-align: center;
    font-size: xx-large;
    margin: 10px 0;
}

#section_contact{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

/*form left column contact page */
#form_contact{
    display: flex;
    flex-direction: column;
    background-color: #e7e5e5;
    width: 80%;
    border-radius: 4px;
}

#left_side_contact {
    width: 60%;
    padding: 12px 20px;
    display: inline-block;  
    border-radius: 4px;
    box-sizing: border-box;
}

input[type=text], input[type=email] {
    width: 80%;
    padding: 12px 20px;
    margin: 8px 8px;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

#form_contact label{
    margin-left: 8px;
    margin-top: 8px;
}

input[type=submit] {
    width: 80%;
    background-color: #303030;
    color: white;
    padding: 14px 20px;
    margin: 8px 8px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}
  
#form_contact textarea {
    width: 80%;
    margin: 8px 8px;
}

/* img right column contact page */
#right_side_contact img{
    height: 70vh;
    margin-top: 20px;
    margin-right: 10px;
}

/* mobile version for the contact page */