* {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
	display: block;
}
body {
	line-height: 1;
}
ol,
ul {
	list-style: none;
}
blockquote,
q {
	quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
	content: "";
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/* header */
header {
	width: 100%;
	background-color: #303030;
	display: flex;
	align-items: center;
	justify-content: center;
}
header img {
	height: 8vw;
}

nav {
	font-size: 1vw;
	display: flex;
	justify-content: space-between;
	position: absolute;
	width: 90vw;
	top: 6.5vw;
	left: 5vw;
	font-family: "Raleway", sans-serif;
}
nav .hamburgerIcon {
	display: none;
}
nav a {
	color: white;
	text-decoration: none;
}
nav a:hover {
	text-decoration: underline;
}

@media screen and (max-width: 641px) {
	nav .hamburgerIcon {
		display: block;
		width: 6vw;
	}
	nav a {
		display: none;
	}
	header img {
		height: 18vw;
	}

	.open_menu {
		margin: 0;
		padding: 0;
		display: flex;
		position: absolute;
		top: 0;
		left: 0;
		flex-direction: column;
		justify-content: space-around;
		align-items: center;
		background-color: #303030;
		width: 100vw;
		height: 100%;
		font-size: 4vw;
	}
}
